__pycache__/
.idea
.env
.vscode
*.log
*.pot
*.pyc
*.sql
*.sql.gz
db.sqlite3
local_settings.py
todo
venv
static
{{cookiecutter.project_name}}_db
{{cookiecutter.project_name}}/celerybeat-schedule
{{cookiecutter.project_name}}/celerybeat.pid
{{cookiecutter.project_name}}/static
